body{
    background-image: url("fortune-cookie.jpg");
    background-position: center;
    height: 550px;
    background-size: cover;
    /* background-repeat: no-repeat; */
    background-color: #cccccc;
}